body {
	background-color: #26381e;
}

.frameleft {
	height: 100vw;
	width: 9vw;
	display: inline-block;
	background-color: #232b25;
}

.bigbody {
	display:inline-block;
	vertical-align: top;
}
.topbar{
	background-color: #232b25;
	height:6vw;
	margin-left: -1vw;
	width:88vw;
	margin-top: -5vw;
}

.title {
	vertical-align: center;
	text-align: center;
	font-family: 'Brush Script MT', cursive;
	font-size: 5vw;
	color: #ced9d1;
	
}

.secondbar{
	background-color: #232b25;
	height:5vw;
	margin-left: -1vw;
	width:88vw;
	margin-top: -.5vw;
	text-align: center;
}

#bearfour {
	margin-left: -.5vw;
}

#habitat, #eating, #behavior, #quiz, #about {
	display: inline-block;
	font-size: 1.5vw;
	margin-left: 4vw;
	margin-right: 4vw;
	color: #ced9d1;
	
}

.mainbody {
	background-color: #3b6145;
	height: 64vw;
	margin-left: 1vw;
	margin-top: 1.4vw;
}

.explanation {
	width:45vw;
	padding-left: 3vw;
	padding-top: 2vw;
	color: #ced9d1;
	font-size: 1.5vw;
	display:inline-block;
}

.decor {
	font-size: 15vw;
	text-align: center;
	margin-top: -7vw;
	margin-bottom: -1vw;
	color: #ced9d1;
}

.topbar2{
	background-color: #232b25;
	height:6vw;
	margin-left: -1vw;
	width:101vw;
	margin-top: -5vw;
}

.hbody {
	background-color: #3b6145;
	height: 93vw;
	margin-left: 1vw;
	margin-top: 1.4vw;
	margin-right: 1.4vw;
}

#bearfive {
	display:inline-block;
	align-content: center;
	text-align: center;
	vertical-align: center;
	margin-left: 3vw;
	border: solid 4px #232b25;
	margin-top: .5vw;
}

.cut {
	display: inline-block;
	align-content: center;
	text-align: center;
	vertical-align: center;
	width: 19vw;
}

.text {
	font-size: 1.5vw;
	color: #ced9d1;
	width: 90vw;
	margin-left: 2vw;
	display:inline-block;
}

#bearsix {
	display:inline-block;
	vertical-align: top;
	height: 13vw;
	margin-left: 1.5vw;
}

#beareight, #bearnine, #bearten, #beareleven {
	display:inline-block;
	vertical-align: top;
	height: 13vw;
}

.texttwo {
	font-size: 1.4vw;
	color: #ced9d1;
	width: 61vw;
	margin-left: 2vw;
	display:inline-block;
}

.borderimage {
	display: inline-block;
	width: 30vw;
	vertical-align: top;
	padding-top: 20vw;
	text-align: center;
}

#bearseven {
	display: inline-block;
	width:25vw;
	border: solid 4px #232b25;
	
}

.textthree {
	font-size: 1.5vw;
	color: #ced9d1;
	width: 50vw;
	margin-left: 2vw;
	display:inline-block;
}

#beartwelve {
	display: inline-block;
	width:30vw;
	border: solid 4px #232b25;
	
}
.borderimagetwo {
	display: inline-block;
	width: 42vw;
	vertical-align: top;
	padding-top: 6vw;
	text-align: center;
}

.textfour {
	font-size: 1.5vw;
	color: #ced9d1;
	width: 50vw;
	margin-left: 2vw;
	display:inline-block;
}

.borderimagethree {
	display: inline-block;
	width: 42vw;
	vertical-align: top;
	padding-top: 1.5vw;
	text-align: center;
}
#bearthirteen {
	display: inline-block;
	border: solid 4px #232b25;
	
}

.borderimagefour {
	display: inline-block;
	vertical-align: center;
	padding-top: 1.5vw;
	text-align: center;
	margin-left: 9vw;
	margin-top: 6vw;
}

#bearfourteen {
	display: inline-block;
	border: solid 4px #232b25;
	text-align: center;
}